body {
  font-family: "Montserrat", sans-serif;
}

.custom-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.custom-back {
  border: 0px;
  background-color: white;
}

::selection {
  background-color: #f24c4c;
}

.custom-fs {
  font-family: 'Bebas Neue', cursive;
}
